@page
@{
}

<html>
<body>
    <ul>
        <li>
            <b>Navn:</b> Karen
        </li>
        <li>
            <b>Telf:</b> 86241539
        </li>
        <li>
            <b>Email: </b> mums@mad.dk
        </li>
    </ul>
</body>
</html>