@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<table>
    <tr>
        <th>Dag</th>
        <th>Varm Ret</th>
        <th>Kold Ret</th>
    </tr>
    <tr>
        <td>Mandag</td>
        <td>Spaghette Kødssovs</td>
        <td>Koldskål</td>
    </tr>
    <tr>
        <td>Tirsdag</td>
        <td>Boller i Karry</td>
        <td>Kold suppe</td>
    </tr>
    <tr>
        <td>Onsdag</td>
        <td>Farsbrød og Kartofler</td>
        <td>Kold Sovs</td>
    </tr>
    <tr>
        <td>Torsdag</td>
        <td>Tacos</td>
        <td>Mindre varme Tacos</td>
    </tr>
    <tr>
        <td>Fredag</td>
        <td>Chili con Carne</td>
        <td>Dåsemad</td>
    </tr>
    <tr>
        <td>Lørdag</td>
        <td>Bøf Bearnaise</td>
        <td>Brød</td>
    </tr>
    <tr>
        <td>Søndag</td>
        <td>Lasagne</td>
        <td>Kold Lasagne </td>
    </tr>
</table>
